__pycache__/FieldParser.cpython-39.pyc
__pycache__/ysconnect.cpython-39.pyc
__pycache__/resources.cpython-39.pyc
*.toc
*.pyc
*.zip
*.pyz
*.manifest
*.pkg
build/qt/warn-qt.txt
build/qt/xref-qt.html
*.ini
*.exe
